.card {
    display: flex;
    gap: 10px;
    width: 48%;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
}

.card:hover{
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.75);
    border: unset;
}

.card .image{
    flex: 40%;
    width: 250px;
    line-height: 0;
    overflow: hidden;
}

.card .image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text-content {
    flex: 60%;
    padding-block: 10px;
    padding-inline: 15px;
    position: relative;
}

.text-content .platform{
    background: #0066ff;
    color: white;
    width: fit-content;
    padding: 1px 10px;
    border-radius: 20px;
    border: 1px solid #0066ff;
    text-transform: lowercase;
    font-size: 14px;
}

.text-content .platform:hover{
    border: 1px solid #0066ff;
    background: #fff;
    color: #0066ff;
}

.text-content h3{
    font-size: 16px;
    margin-block-end: 0;
    font-family: 'Courier New', Courier, monospace;
}
.text-content p{
    font-size: 12px;
}

.text-content .button{
    text-decoration: none;
    border: 1px solid #0066ff;
    background: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #0066ff;
    position: absolute;
    bottom: 10px;
}

.text-content .button:hover{
    background: #0066ff;
    color: #fff;
}

.mySwiper .card {
    width: 100%;
    height: 250px;
}

@media (max-width: 576px) {
    .card {
        flex-direction: column;
        height: 100%;
    }

    .card .image{
        width: unset;
        height: 20%;
    }

    .card .image img{
        border-radius: 20px;
    }
 }

@media (max-width: 768px) {
    .card{
        width: 100%;
    }
 }