.details .detail-hero {
    height: 50vh;
    color: #fff;
    text-align: center;
}

.content {
    width: 80%;
    margin: auto;
}

.content p{
    font-size: large;
}

.details .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
}

.details .title-section .button-section button {
    background: #0066ff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #0066ff;
    width: fit-content;
    border-radius: 20px;
    transition: ease-in-out .2s;
}

.details .title-section .button-section {
    min-width: 200px;
}
.details .title-section button:hover {
    border: 1px solid #0066ff;
    background: #fff;
    color: #0066ff;
}

@media (max-width: 576px) { 
    .details .title-section {
        flex-direction: column;
        align-items: start;
    }
}