.details .detail-hero {
    height: 50vh;
    color: #fff;
    text-align: center;
}

.content {
    width: 80%;
    margin: auto;
}

.content p{
    font-size: large;
}

.content iframe {
    display: block; 
    width: 100%;
    height: 500px;
    border: none; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.details .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
}

.details .title-section .button-section .button {
    text-decoration: none;
    background: #0066ff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #0066ff;
    width: fit-content;
    border-radius: 20px;
    transition: ease-in-out .2s;
    font-size: 14px;
}

.details .title-section .button-section {
    min-width: 200px;
    display: flex;
    gap: 5px;
}
.details .title-section .button:hover {
    border: 1px solid #0066ff;
    background: #fff;
    color: #0066ff;
}

.details .title-section .button-section .watchLater {
    background: #ee0547 !important;
    border: 1px solid #ee0547 !important;
    cursor: pointer;
}

.details .title-section .button-section .watchLater:hover {
    background: #fff !important;
    color: #ee0547;
}

.Toastify {
    font-size: small;
}

@media (max-width: 576px) { 
    .details .title-section {
        flex-direction: column;
        align-items: start;
        padding-bottom: 20px;
    }
}